USE [master]
GO
/****** Object:  Database [VoterSystemDB]    Script Date: 11/06/15 20:36:57 ******/
CREATE DATABASE [VoterSystemDB] ON  PRIMARY 
( NAME = N'VoterSystemDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\VoterSystemDB.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'VoterSystemDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\VoterSystemDB_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VoterSystemDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VoterSystemDB]
GO
/****** Object:  Table [dbo].[Candidates]    Script Date: 11/06/15 20:36:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Candidates](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Symbol] [varchar](50) NULL,
 CONSTRAINT [PK_Candidates] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CastVote]    Script Date: 11/06/15 20:36:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CastVote](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[VoterId] [varchar](50) NULL,
	[CandidateId] [varchar](50) NULL,
 CONSTRAINT [PK_CastVote] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Voters]    Script Date: 11/06/15 20:36:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Voters](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[VoterID] [varchar](50) NULL,
 CONSTRAINT [PK_Voters] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Candidates] ON 

INSERT [dbo].[Candidates] ([ID], [Name], [Symbol]) VALUES (1, N'Tania', N'Mango')
INSERT [dbo].[Candidates] ([ID], [Name], [Symbol]) VALUES (2, N'Maruf', N'Banana')
SET IDENTITY_INSERT [dbo].[Candidates] OFF
SET IDENTITY_INSERT [dbo].[CastVote] ON 

INSERT [dbo].[CastVote] ([ID], [VoterId], [CandidateId]) VALUES (1, N'5', N'2')
INSERT [dbo].[CastVote] ([ID], [VoterId], [CandidateId]) VALUES (2, N'10', N'1')
SET IDENTITY_INSERT [dbo].[CastVote] OFF
SET IDENTITY_INSERT [dbo].[Voters] ON 

INSERT [dbo].[Voters] ([ID], [Name], [VoterID]) VALUES (1, N'Mahi', N'01234567851551561')
SET IDENTITY_INSERT [dbo].[Voters] OFF
USE [master]
GO
